.DS_Store
node_modules
# dist
*.map
# local env files
#.env.local
#.env.*.local
*.bat
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
# docs
thd
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist
cache/