.main-title[data-v-0d172ebe] {
  margin: 1.8rem auto;
  font-size: 3rem;
}
.p-shield a[data-v-0d172ebe] {
  padding: 5px;
}
.p-shield a img[data-v-0d172ebe] {
  margin: 7px 0;
}
.p-statement[data-v-0d172ebe] {
  margin: 10px 0;
}
.p-simple[data-v-0d172ebe] {
  font-size: 20px;
  margin: 20px 0;
  line-height: 30px;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 0;
}

